.contents{
    &__chat-main{
        &--message {
            height: 90px;
            width: 100%;
            background-color: #ddd;
            bottom: 0;
            padding: 20px 40px;
            .form{
                display: flex;
                width: 100%;
                position: relative;
                &__text{
                    height: 50px;
                    width: 100%;
                    padding: 0 40px 0 10px;
                    color: #434a54;
                    border-style: none;
                }

                &__box__image{
                    font-size: 1.3rem;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    .hidden{
                        display: none;
                    }
                }
            

                &__submit{
                    height: 50px;
                    width: 100px;
                    padding: 0 30px;
                    margin-left: 15px;
                    background-color: $light-blue;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
    }
}